*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #faf5f0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height:100%;
    background-color: black;
    padding:30px;
    margin-bottom: 25px;
}
header div{
    color:#d4af37;
    font-size: 32px;
    font-weight: bold;
}
header a{
    text-decoration: none;
    color:white;
    width:50.02px;
    height:20px;
    font-size: 17.4px;
    font-weight: bold;
    margin-right: 36px;
}
section{
    display: flex;
    gap: 50px; 
    padding: 63px 40px 53.83px;
}
section div{
    width:580px;
    height:726.17px;
    background-color:white ;
    border-radius: 15px;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.15);
    padding: 20px 20px;
}
section div h2{
    color:#d4af37;
    width:230px;
    height:31px;
    margin:15px;
}
section div p{
    line-height: 1.5;
    height:250.38px;
    margin:15px;
    width:498.14px;
}
section div img{
   width:500px;
   height:300px;
}
footer{
    background-color: black;
    display: flex;
    justify-content: space-between;
    color: white;
    padding:30px 40px 30px;
}
footer a{
    text-decoration: none;
    color:white;
    width:52,65px;
    height:17px;
    font-size: 15,1px;
    margin-right: 36px;
}
footer p{
    color:white;
    width:52,65px;
    height:17px;
    font-size: 15,1px;
    margin-right: 36px;
}