* {
  user-select: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.item{
    width: 220px;
    text-align: center;
}
.item img{
    width: 200px;
    height: 150px;
    object-fit: cover;
}
.item strong{
    display: block;
    margin-top: 10px;
}