.parent {
    display: flex;
    height: 200px;
    background: lightgray;
}

.child {
    width: 50px;
    height: 50px;
    background: steelblue;
    margin: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
