*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: #0ea5e9;
    color: white;
    width: auto;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-family: Arial, sans-serif;
}
.header p{
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}
.menu{
    background-color: #0284c7;
    text-align: center;
    coler : white;
    font-family: Arial, sans-serif;
}
.main{
    color: black;
    font-family: Arial, sans-serif;
    background-color: white;

}.main p{
    background-color: rgb(185, 218, 246);
    font-family : Arial, sans-serif;
    coler : black;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
}

